.tabs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .tablink {
    background-color: #ddd;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    width: 50%;
    flex: 1;
  }
  
  .tablink:hover {
    background-color: #bbb;
  }
  
  .tabcontent {
    display: none;
    padding: 20px;
  }
  
  .tabcontent.show {
    display: block;
  }
  