{% assign image = page.footer | default: site.footer | relative_url %}
{% assign dark = page.footer-dark | is_nil: site.footer-dark | is_nil: true %}

<footer
  class="background"
  style="--image: url('{{ image }}')"
  {% if dark == true or dark == false %}
    data-dark="{{ dark }}"
  {% endif %}
  data-size="wide"
>
  <!--
    <div>
      Extra details like contact info or address
    </div>
  -->

  <div class="footer_row">
    {%- for entry in site.links -%}
      {%- assign key = entry[0] -%}
      {%- assign value = entry[1] -%}
      {%- include link.html type=key icon="" tooltip="" link=value -%}
    {%- endfor -%}
    <span>
      &nbsp; | &nbsp;
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
    </span>
  </div>

  <input
    type="checkbox"
    class="dark-toggle"
    data-tooltip="Dark mode"
    aria-label="toggle dark mode"
    oninput="onDarkToggleChange(event)"
  >
</footer>
